/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

#app {
  margin: 0 auto;
}

html,
body {
  margin: 0;
  padding: 0;
}




:root {
  --el-color-brand: #1cad4e;
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: #03684a;
  --el-font-weight-primary: 500;
  --el-font-line-height-primary: 24px;
  --el-index-normal: 1;
  --el-index-top: 1000;
  --el-index-popper: 2000;
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-transition-duration: 0.3s;
  --el-transition-duration-fast: 0.2s;
  --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
  --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier),
    opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  --el-transition-border: border-color var(--el-transition-duration-fast)
    var(--el-transition-function-ease-in-out-bezier);
  --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast)
    var(--el-transition-function-ease-in-out-bezier);
  --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
  --el-component-size-large: 40px;
  --el-component-size: 32px;
  --el-component-size-small: 24px;
  color-scheme: light;

  /* --el-bg-color: #ffffff; */
  --el-bg-color-page: #f9fbf8;

  /* --el-bg-color-overlay: #ffffff; */
  --el-text-color-primary: #2a292f;
  --el-text-color-regular: #2a292f;
  --el-text-color-secondary: #606266;
  /* --el-text-color-placeholder: #a8abb2; */
  /* --el-text-color-disabled: #c0c4cc; */
  /* --el-border-color: #dcdfe6; */
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #f9fbf8;
  /* --el-border-color-extra-light: #f3fcf2ff; */
  /* --el-border-color-dark: #d4d7de; */
  /* --el-border-color-darker: #cdd0d6; */
  /* --el-fill-color: #ffffff; */
  --el-fill-color-light: #e4e7ed;
  --el-fill-color-lighter: #fafafa;
  /* --el-fill-color-extra-light: #fafffaff; */
  /* --el-fill-color-dark: #ebedf0; */
  /* --el-fill-color-darker: #e6e8eb; */
  /* --el-fill-color-blank: #ffffff; */
  /* --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08); */
  /* --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12); */
  /* --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12); */
  /* --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16); */
  /* --el-disabled-bg-color: var(--el-fill-color-light); */
  /* --el-disabled-text-color: var(--el-text-color-placeholder); */
  /* --el-disabled-border-color: var(--el-border-color-light); */
  /* --el-overlay-color: rgba(0, 0, 0, 0.8); */
  /* --el-overlay-color-light: rgba(0, 0, 0, 0.7); */
  /* --el-overlay-color-lighter: rgba(0, 0, 0, 0.5); */
  /* --el-mask-color: rgba(255, 255, 255, 0.9); */
  /* --el-mask-color-extra-light: rgba(255, 255, 255, 0.3); */
  /* --el-border-width: 1px; */
  /* --el-border-style: solid; */
  /* --el-border-color-hover: var(--el-text-color-disabled); */
  /* --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color); */
  /* --el-svg-monochrome-grey: var(--el-border-color); */
  --el-menu-base-level-padding: 12px;
  --el-card-bg-color: var(--el-fill-color-blank);
  --el-card-border-radius: 6px;
}
*/

/* .el-table {
  --el-table-row-hover-bg-color: var(--el-border-color-extra-light);
} */

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--el-transition-fade-linear);
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.el-fade-in-linear-enter-active,
.el-fade-in-linear-leave-active {
  transition: var(--el-transition-fade-linear);
}

.el-fade-in-linear-enter-from,
.el-fade-in-linear-leave-to {
  opacity: 0;
}

.el-fade-in-enter-active,
.el-fade-in-leave-active {
  transition: all var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-fade-in-enter-from,
.el-fade-in-leave-active {
  opacity: 0;
}

.el-zoom-in-center-enter-active,
.el-zoom-in-center-leave-active {
  transition: all var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-zoom-in-center-enter-from,
.el-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top;
  transition: var(--el-transition-md-fade);
}

.el-zoom-in-top-enter-active[data-popper-placement^="top"],
.el-zoom-in-top-leave-active[data-popper-placement^="top"] {
  transform-origin: center bottom;
}

.el-zoom-in-top-enter-from,
.el-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.el-zoom-in-bottom-enter-active,
.el-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center bottom;
  transition: var(--el-transition-md-fade);
}

.el-zoom-in-bottom-enter-from,
.el-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.el-zoom-in-left-enter-active,
.el-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
  transition: var(--el-transition-md-fade);
}

.el-zoom-in-left-enter-from,
.el-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45);
}

.collapse-transition {
  transition:
    var(--el-transition-duration) height ease-in-out,
    var(--el-transition-duration) padding-top ease-in-out,
    var(--el-transition-duration) padding-bottom ease-in-out;
}

.el-collapse-transition-enter-active,
.el-collapse-transition-leave-active {
  transition:
    var(--el-transition-duration) max-height ease-in-out,
    var(--el-transition-duration) padding-top ease-in-out,
    var(--el-transition-duration) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition:
    var(--el-transition-duration) width ease-in-out,
    var(--el-transition-duration) padding-left ease-in-out,
    var(--el-transition-duration) padding-right ease-in-out;
}

.el-list-enter-active,
.el-list-leave-active {
  transition: all 1s;
}

.el-list-enter-from,
.el-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.el-list-leave-active {
  position: absolute !important;
}

.el-opacity-transition {
  transition: opacity var(--el-transition-duration) cubic-bezier(0.55, 0, 0.1, 1);
}

.el-icon-loading {
  animation: rotating 2s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}

.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.el-icon {
  --color: inherit;
  align-items: center;
  display: inline-flex;
  height: 1em;
  justify-content: center;
  line-height: 1em;
  position: relative;
  width: 1em;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
}

.el-icon.is-loading {
  animation: rotating 2s linear infinite;
}

.el-icon svg {
  height: 1em;
  width: 1em;
}

html {
  overflow-y: hidden;
}

html.dark {
  color-scheme: dark;
  --el-color-primary: #0db180ff;
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(78.1, 141.8, 46.6);
  --el-color-success-light-5: rgb(61.5, 107, 39);
  --el-color-success-light-7: rgb(44.9, 72.2, 31.4);
  --el-color-success-light-8: rgb(36.6, 54.8, 27.6);
  --el-color-success-light-9: rgb(28.3, 37.4, 23.8);
  --el-color-success-dark-2: rgb(133.4, 206.2, 97.4);
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: rgb(167, 119.4, 48);
  --el-color-warning-light-5: #7d5b28;
  --el-color-warning-light-7: rgb(83, 62.6, 32);
  --el-color-warning-light-8: rgb(62, 48.4, 28);
  --el-color-warning-light-9: rgb(41, 34.2, 24);
  --el-color-warning-dark-2: rgb(235, 180.6, 99);
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: rgb(177.5, 81.6, 81.6);
  --el-color-danger-light-5: rgb(132.5, 64, 64);
  --el-color-danger-light-7: rgb(87.5, 46.4, 46.4);
  --el-color-danger-light-8: rgb(65, 37.6, 37.6);
  --el-color-danger-light-9: rgb(42.5, 28.8, 28.8);
  --el-color-danger-dark-2: rgb(247, 137.4, 137.4);
  --el-color-error: #f56c6c;
  --el-color-error-light-3: rgb(177.5, 81.6, 81.6);
  --el-color-error-light-5: rgb(132.5, 64, 64);
  --el-color-error-light-7: rgb(87.5, 46.4, 46.4);
  --el-color-error-light-8: rgb(65, 37.6, 37.6);
  --el-color-error-light-9: rgb(42.5, 28.8, 28.8);
  --el-color-error-dark-2: rgb(247, 137.4, 137.4);
  --el-color-info: #909399;
  --el-color-info-light-3: rgb(106.8, 108.9, 113.1);
  --el-color-info-light-5: rgb(82, 83.5, 86.5);
  --el-color-info-light-7: rgb(57.2, 58.1, 59.9);
  --el-color-info-light-8: rgb(44.8, 45.4, 46.6);
  --el-color-info-light-9: rgb(32.4, 32.7, 33.3);
  --el-color-info-dark-2: rgb(166.2, 168.6, 173.4);
  --el-color-link: #409eff;
  --el-color-link-light-3: rgb(51, 117, 185);
  --el-color-link-light-5: rgb(42, 89, 138);
  --el-color-link-light-7: rgb(33, 61, 91);
  --el-color-link-light-8: rgb(29, 48, 67);
  --el-color-link-light-9: rgb(24, 34, 43);
  --el-color-link-dark-2: rgb(102, 177, 255);
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #e5eaf3;
  --el-text-color-regular: #e5eaf3;
  --el-text-color-secondary: #a3a6ad;
  --el-text-color-placeholder: #8d9095;
  --el-text-color-disabled: #6c6e72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585b;
  --el-border-color: #4c4d4f;
  --el-border-color-light: #414243;
  --el-border-color-lighter: #363637;
  --el-border-color-extra-light: #2b2b2c;
  --el-fill-color-darker: #424243;
  --el-fill-color-dark: #39393a;
  --el-fill-color: #141414;
  --el-fill-color-light: #414243;
  --el-fill-color-lighter: #1d1d1d;
  --el-fill-color-extra-light: #191919;
  --el-fill-color-blank: transparent;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}

html.dark .el-button {
  --el-button-disabled-text-color: rgba(255, 255, 255, 0.5);
}

html.dark .el-card {
  --el-card-bg-color: var(--el-bg-color-overlay);
}

html.dark .el-empty {
  --el-empty-fill-color-0: var(--el-color-black);
  --el-empty-fill-color-1: #4b4b52;
  --el-empty-fill-color-2: #36383d;
  --el-empty-fill-color-3: #1e1e20;
  --el-empty-fill-color-4: #262629;
  --el-empty-fill-color-5: #202124;
  --el-empty-fill-color-6: #212224;
  --el-empty-fill-color-7: #1b1c1f;
  --el-empty-fill-color-8: #1c1d1f;
  --el-empty-fill-color-9: #18181a;
}

html.dark .app-wrapper .sidebar-container .el-sub-menu.is-active > .el-sub-menu__title {
  color: var(--el-color-primary) !important;
}
